<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- <bean id="userValidator" class="task.marketplace.validator.UserValidator" 
		/> <bean id="itemValidator" class="task.marketplace.validator.ItemValidator" 
		/> <bean id="advancedSearchValidator" class="task.marketplace.validator.AdvancedSearchValidator" 
		/> -->

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> <property 
		name="url" value="jdbc:oracle:thin:@evrusarsd0302:1521:students" /> <property 
		name="username" value="Evgeniy_Kaschavtsev" /> <property name="password" 
		value="abc" /> </bean> -->

	<!-- <bean id="userDAO" class="task.marketplace.dao.OracleUserDAO"> <property 
		name="dataSource" ref="dataSource" /> </bean> <bean id="itemDAO" class="task.marketplace.dao.OracleItemDAO"> 
		<property name="dataSource" ref="dataSource" /> </bean> <bean id="bidDAO" 
		class="task.marketplace.dao.OracleBidDAO"> <property name="dataSource" ref="dataSource" 
		/> </bean> -->

	<!-- <bean id="userValidator" class="task.marketplace.validator.UserValidator" /> -->

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="timejournal3" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<tx:annotation-driven transaction-manager="transactionManager" />



	<context:component-scan base-package="com.timejournal.*" />

</beans>